body{
  font-family: 'Acme', sans-serif;
  background-color: LightSteelBlue;
}
input[type="text"], input[type="email"], input[type="number"], select, textarea{
  width: 50%;
}
@media (max-width: 800px){
    input[type="text"], input[type="email"], input[type="number"], select, textarea{
    width: 80%;
  }
}
label[for]{
  display: block;
}
#title, #description{
  text-align: center;
}
#survey-form{
  background-color: white;
  margin: 5%;
  padding: 3%;
  box-shadow: 5px 5px 5px 5px #deb0ba, -5px 5px 5px 5px #deb0ba;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(9, auto);
  grid-template-areas: 
    "name name-ip"
    "email email-ip"
    "number number-ip"
    "dropdown dropdown-ip"
    "radio radio-ip"
    "checkbox checkbox-ip"
    "textbox textbox-ip";
}
#name-label{
  margin: 5px;
  padding: 5px;
  grid-area: name;
  justify-self: end;
}
#name{
  margin: 5px;
  padding: 5px;
  grid-area: name-ip;
}
#email-label{
  margin: 5px;
  padding: 5px;
  grid-area: email;
  justify-self: end;
}
#email{
  margin: 5px;
  padding: 5px;
  grid-area: email-ip;
}
#number-label{
  margin: 5px;
  padding: 5px;
  grid-area: number;
  justify-self: end;
}
#number{
  margin: 5px;
  padding: 5px;
  grid-area: number-ip;
}
#dropdown-label{
  margin: 5px;
  padding: 5px;
  grid-area: dropdown;
  justify-self: end;
}
#dropdown{
  margin: 5px;
  padding: 5px;
  grid-area: dropdown-ip;
}
#radio-label{
  margin: 5px;
  padding: 5px;
  grid-area: radio;
  justify-self: end;
}
#radio{
  margin: 5px;
  padding: 5px;
  grid-area: radio-ip;
}
#checkbox-label{
  margin: 5px;
  padding: 5px;
  grid-area: checkbox;
  justify-self: end;
}
#checkbox{
  margin: 5px;
  padding: 5px;
  grid-area: checkbox-ip;
}
#textbox-label{
  margin: 5px;
  padding: 5px;
  grid-area: textbox;
  justify-self: end;
}
#textbox{
  margin: 5px;
  padding: 5px;
  grid-area: textbox-ip;
  height: 100px;
}
#submit{
  background-color: #ded9b0;
  border: none;
  font-size: 1.2em;
  font-family: 'Acme', sans-serif;
  margin: 5px;
  padding: 10px;
  grid-area: submit;
  grid-column: 1/3;
  justify-self: center;
}
#submit:hover{
  cursor: pointer;
}